'jsonpickle',
'mlflow==2.2.1',
'scikit-learn>=0.24.0',
'cryptography',
'python-dateutil>=2.7.3,<3.0.0',
'datasets==2.11.0',
'soundfile>=0.12.1',
'librosa',
'diffusers==0.14.0',
'transformers>=4.28.1',
'accelerate>=0.19.0',
'Pillow==9.4.0'